##
## This template can be used to modify the look of a specific
## application.
##
## Please use the left panel to quickly add commonly used variables.
## Autocomplete is also available and can be invoked by typing "$".
##

<div class="row-fluid">
    <ul class="thumbnails item-list-display">

    #if (!$entries.isEmpty())

        #foreach ($entry in $entries)
            #set($renderer = $entry.getAssetRenderer() )
            #set($className = $renderer.getClassName() )
            #if( $className == "com.liferay.portlet.journal.model.JournalArticle" )
                #set( $journalArticle = $renderer.getArticle() )
                #set( $document = $saxReaderUtil.read($journalArticle.getContent()) )
                #set( $rootElement = $document.getRootElement() )
                #set( $xPathSelector = $saxReaderUtil.createXPath("dynamic-element[@name='productTitle']") )
                #set( $productTitle = $xPathSelector.selectSingleNode($rootElement).getStringValue() )
                #set( $xPathSelector = $saxReaderUtil.createXPath("dynamic-element[@name='productImages']") )
                #set( $productImages = $xPathSelector.selectSingleNode($rootElement).getStringValue() )
                #set( $xPathSelector = $saxReaderUtil.createXPath("dynamic-element[@name='link']") )
                #set( $link = $xPathSelector.selectSingleNode($rootElement).getStringValue() ) 
                #set( $xPathSelector = $saxReaderUtil.createXPath("dynamic-element[@name='shortDescription']") )
                #set( $shortDescription = $xPathSelector.selectSingleNode($rootElement).getStringValue() )
            #end
            
            <li class="span4">
                <div class="thumbnail">
                    <img class="img-fx"src="$productImages">
                    <div class="caption caption-size">
                        <h3>$productTitle</h3>
                        <p>$shortDescription</p>
                        <p class="item-buttons">
                            <a href="$link" target="_blank" class="btn btn-primary">Buy Now</a> 
                            <a href="/web/e-commerce/view?id=$entry.getEntryId()" class="btn">View</a>
                        </p>
                    </div>
                </div>
            </li>
        #end
    #end
    
    
    </ul>
</div>